@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

/* utility start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(135deg, rgba(139, 53, 123,0.5) 0%, rgba(139, 53, 123,0.5) 10%,transparent 10%, transparent 19%,rgba(84, 33, 86,0.5) 19%, rgba(84, 33, 86,0.5) 27%,rgba(157, 60, 135,0.5) 27%, rgba(157, 60, 135,0.5) 53%,transparent 53%, transparent 56%,rgba(176, 66, 147,0.5) 56%, rgba(176, 66, 147,0.5) 61%,rgba(102, 40, 98,0.5) 61%, rgba(102, 40, 98,0.5) 100%),linear-gradient(45deg, rgb(139, 53, 123) 0%, rgb(139, 53, 123) 8%,transparent 8%, transparent 9%,transparent 9%, transparent 10%,rgb(157, 60, 135) 10%, rgb(157, 60, 135) 14%,rgb(121, 46, 110) 14%, rgb(121, 46, 110) 50%,rgb(176, 66, 147) 50%, rgb(176, 66, 147) 97%,rgb(102, 40, 98) 97%, rgb(102, 40, 98) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    padding: 0 0.8rem;
    max-width: 1300px;
    height: auto;
}
/* utility end */



/* header start */
.header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #fff;
    font-size: 2.4rem;
}

.toggler {
    display: grid;
    height: 45px;
    width: 50px;
    place-items: center;
    cursor: pointer;
    border-radius: 0.1rem;
    z-index: 999;
}

.toggle-bar {
    position: relative;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::before {
    position: absolute;
    content: '';
    top: -0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::after {
    position: absolute;
    content: '';
    top: 0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggler.active .toggle-bar {
    background: transparent;
    transform: rotate(40deg);
}

.toggler.active .toggle-bar::before {
    transform: rotate(-85deg);
    top: 0;
}

.toggler.active .toggle-bar::after {
    transform: rotate(5deg);
    top: 0;
}
/* header end */



/* project contents start */
.project-contents {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.project {
    margin-bottom: 3rem;
    height: 270px;
    width: 31%;
    border-radius: 0.4rem;
    overflow: hidden;
    background: #ddd;
}

.project-thumb {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.project-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.project-thumb:hover img {
    transform: scale(1.2);
}

.project-thumb .tags {
    position: absolute;
    bottom: 1rem;
    left: 0.85rem;
    color: #fff;
    z-index: 999;
}

.project-thumb .tags span {
    padding: 0.2rem 0.4rem;
    margin-right: 0.12rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #222;
}

.project-thumb .tags span.html {
    background: #de5e02;
}

.project-thumb .tags span.css {
    background: #11a9fb;
}

.project-thumb .tags span.javascript {
    background: #d2ae10;
}

.project-details {
    margin-left: 0.85rem;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project-details p {
    color: #222;
    font-size: 1.2rem;
}
/* project contents end */