@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

/* utility start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-image: linear-gradient(135deg, rgba(139, 53, 123,0.5) 0%, rgba(139, 53, 123,0.5) 10%,transparent 10%, transparent 19%,rgba(84, 33, 86,0.5) 19%, rgba(84, 33, 86,0.5) 27%,rgba(157, 60, 135,0.5) 27%, rgba(157, 60, 135,0.5) 53%,transparent 53%, transparent 56%,rgba(176, 66, 147,0.5) 56%, rgba(176, 66, 147,0.5) 61%,rgba(102, 40, 98,0.5) 61%, rgba(102, 40, 98,0.5) 100%),linear-gradient(45deg, rgb(139, 53, 123) 0%, rgb(139, 53, 123) 8%,transparent 8%, transparent 9%,transparent 9%, transparent 10%,rgb(157, 60, 135) 10%, rgb(157, 60, 135) 14%,rgb(121, 46, 110) 14%, rgb(121, 46, 110) 50%,rgb(176, 66, 147) 50%, rgb(176, 66, 147) 97%,rgb(102, 40, 98) 97%, rgb(102, 40, 98) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    padding: 0 0.8rem;
    max-width: 1300px;
    height: auto;
}
/* utility end */



/* header start */
.header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > a {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
}

.toggler {
    width: 50px;
    height: 45px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 0.1rem;
    z-index: 999;
}

.toggle-bar {
    position: relative;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::before {
    position: absolute;
    content: '';
    top: -0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::after {
    position: absolute;
    content: '';
    top: 0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggler.active .toggle-bar {
    background: transparent;
    transform: rotate(40deg);
}

.toggler.active .toggle-bar::before {
    transform: rotate(-85deg);
    top: 0;
}

.toggler.active .toggle-bar::after {
    transform: rotate(5deg);
    top: 0;
}

/* navbar start */
.nav-box {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 260px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(2rem);
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 99999;
}

.nav-box.active-nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav-left {
    list-style-type: none;
    height: auto;
    max-height: 400px;
    min-width: 260px;
    overflow-y: auto;
    background: #fff;
    border-radius: 0.2rem;
    pointer-events: auto;
    transform: translate(0);
    transition: all 0.3s ease;
}

.nav-left.active-right {
    pointer-events: none;
    transform: translate(-100%);
}

.nav-right {
    min-width: 260px;
    max-height: 400px;
    background: #fff;
    border-radius: 0.2rem;
    overflow-y: auto;
    pointer-events: none;
    transform: translate(0);
    transition: all 0.3s ease;
}

.nav-right.active-right {
    pointer-events: auto;
    transform: translate(-100%);
}

.nav-right ul{
    width: 100%;
    display: none;
}

.nav-right ul.active-list {
    display: block;
}

.nav-left li,
.nav-left > a,
.nav-right ul li {
    padding: 0.8rem;
    color: #222;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.nav-right ul li:first-child {
    padding: 0.8rem;
}

.nav-right ul li {
    padding: 0;
}

.nav-right ul li a {
    padding: 0.8rem;
    height: 100%;
    width: 100%;
    color: #222;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-left li:hover,
.nav-right ul li:hover,
.nav-left a:hover,
.nav-right ul li a:hover {
    background: silver;
}
/* navbar end */
/* header end */



/* project contents start */
.projects {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    margin-bottom: 3rem;
    height: 270px;
    width: 31%;
    background: #ddd;
    border-radius: 0.4rem;
    overflow: hidden;
}

.thumb {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.thumb:hover img {
    transform: scale(1.2);
}

.thumb .tags {
    position: absolute;
    bottom: 1rem;
    left: 0.85rem;
    color: #fff;
    z-index: 999;
}

.thumb .tags span {
    padding: 0.2rem 0.4rem;
    margin-right: 0.12rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #222;
}

.thumb .tags span.html {
    background: #de5e02;
}

.thumb .tags span.css {
    background: #11a9fb;
}

.thumb .tags span.javascript {
    background: #d2ae10;
}

.title {
    margin-left: 0.85rem;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title p {
    color: #222;
    font-size: 1.2rem;
}
/* project contents end */



/* footer start */
footer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem 0.3rem 0 0;
}

footer p {
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #111;
}

footer p a {
    color: #dda0dd;
    text-decoration: none;
}
/* footer end */



/* responsive */
@media screen and (max-width: 1280px) {
    .card {
        width: 32%;
    }
}

@media screen and (max-width: 1020px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width: 680px) {
    .projects {
        justify-content: center;
    }

    .card {
        margin: 1.2rem 0;
        width: 100%;
        max-width: 420px; 
    }
}

@media screen and (max-width: 420px) {
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 380px) {
    .header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 360px) {
    footer p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    footer p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 300px) {
    .header h1 {
        font-size: 1.8rem;
    }
}